

#title {
    padding-top: 5%;
    font-size: 64px;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.2;
    z-index: -10;
 
}

.center-div {
    padding: 30px;
}

#login-box {
    padding-top: 30px;
    padding-bottom: 30px;
    opacity: 1;
    margin: auto;
    width: 33%;
    background-color: rgba(205, 205, 255, 0.671);
    
}

#login-entry {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 24px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.input {
    width: 100%;
    height: 32px;
    margin-bottom: 10px;
    border-radius: 8px;
    text-indent: 5px;
}

.submit {
    background-color: rgb(91, 85, 145);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

body {
    background-color: #000;    
}